# CI workflow for PRs and merges to master
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os != 'Windows' }}
    env:
      DOTNET_NOLOGO: true

    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x

    - run: dotnet --info

    - name: Build (win)
      run: ./build ci
      shell: cmd
      if: ${{ runner.os == 'Windows' }}

      ## Only difference here is not forcing cmd
    - name: Build (linux based)
      run: ./build ci
      if: ${{ runner.os != 'Windows' }}

    - name: Test - Persistence
      run: dotnet bin/Debug/Persistence.Tests/Persistence.Tests.dll

    - name: Test - PAModel
      run: dotnet bin/Debug/PAModelTests/PAModelTests.dll
