# CI workflow for PRs and merges to master
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os == 'ubuntu-latest' }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    env:
      DOTNET_NOLOGO: true

    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          7.0.x
          8.0.x

    - run: dotnet --info

    - name: Build (win)
      run: ./build ci
      shell: cmd
      if: ${{ runner.os == 'Windows' }}

      ## Only difference here is not forcing cmd
    - name: Build (ubuntu & macos)
      run: ./build ci
      if: ${{ runner.os != 'Windows' }}

    #- name: Test - Persistence
    #  run: dotnet bin/Debug/Persistence.Tests/Persistence.Tests.dll

    - name: Test - YamlValidator
      run: dotnet bin/Debug/YamlValidator.Tests/YamlValidator.Tests.dll

    #- name: Test - PAModel
    #  run: dotnet bin/Debug/PAModelTests/PAModelTests.dll

    - name: Test - Persistence Test Yaml Files (ubuntu & macos)
      run: |
        echo $(cat bin/Debug/YamlValidator/schema/pa.yaml-schema.json)
        resultApp=$(sudo dotnet bin/Debug/YamlValidator/YamlValidator.dll validate --path "bin/Debug/Persistence.Tests/_TestData/AppsWithYaml")
        echo "$resultApp"
        if [ "$resultApp" == *"Validation Failed"* ]; then
          echo "Invalid Yaml Files found in AppsWithYaml"
          exit 1
        fi
        resultFiles=$(sudo dotnet bin/Debug/YamlValidator/YamlValidator.dll validate --path "bin/Debug/Persistence.Tests/_TestData/ValidYaml-CI")
        echo "$resultFiles"
        if [ "$resultFiles" == *"Validation Failed"* ]; then
          echo "Invalid Yaml Files found in ValidYaml-CI"
          exit 1
        fi
      if: ${{ runner.os != 'Windows' }}

    #- name: Restore workloads for samples
    #  run: dotnet workload restore samples/MauiMsApp/MauiMsApp.csproj

    #- name: Install maui-tizen workload
    # run: dotnet workload install maui-tizen

    #- name: Build samples
    # run: dotnet build samples/samples.sln
    #  if: ${{ runner.os == 'Windows' }}
