# CI workflow for PRs and merges to master
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os != 'Windows' }}
    env:
      DOTNET_NOLOGO: true

      # Pre-define global MSBuild properties
      Configuration: Debug
      # Ensure versioning is forced to a non-production version for CI builds
      VersionSuffix: ${{ github.event_name == 'pull_request' && 'pr' || 'ci' }}

    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true

    - uses: actions/setup-dotnet@v4
      with:
        # dotnet-version: '8.0.x'
        global-json-file: 'global.json'

    - run: dotnet --info

    - name: Build PASopa.sln
      run: dotnet build src/PASopa.sln

    # Pack so we can validate there are no warnings/errors
    # We must explicitly set the configuration parameter otherwise it defaults to Release
    - name: Pack - Formulas.Tools
      run: dotnet pack --no-build -c ${{ env.Configuration }} src/PAModel/Microsoft.PowerPlatform.Formulas.Tools.csproj

    - name: Pack - Persistence
      run: dotnet pack --no-build -c ${{ env.Configuration }} src/Persistence/Microsoft.PowerPlatform.PowerApps.Persistence.csproj

    # Run tests
    - name: Test - PASopa.sln
      run: dotnet test --no-build --solution src/PASopa.sln
